
Lab №1/.vs/Lab №1/v17/Browse.VC.db
*.db
*.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db-shm
Lab №1/.vs/Lab №1/v17/Browse.VC.opendb
Lab №1/.vs/Lab №1/v17/Browse.VC.db-wal
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
*.vsidx
*.vsidx
Lab №1/.vs/Lab №1/FileContentIndex/913405c1-844e-4947-bd6d-2c3b3a5346da.vsidx
Lab №1/.vs/Lab №1/FileContentIndex/c0bc7a9a-dc4e-465e-a163-20f61e764831.vsidx
Lab №1/.vs/Lab №1/FileContentIndex/da12b8dd-1935-446d-9fe0-923f02fa817c.vsidx
Lab №1/.vs/Lab №1/v17/.suo
*.db
Lab №1/Lab №1/x64/Debug/vc143.idb
Lab №1/Lab №1/x64/Debug/vc143.pdb
Lab №1/x64/Debug/Lab №1.pdb
Lab №1/Lab №1/x64/Debug/Lab №1.ilk
*.tlog
*.db
*.pdb
