
Lab №1/.vs/Lab №1/v17/Browse.VC.db
*.db
*.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db-shm
Lab №1/.vs/Lab №1/v17/Browse.VC.opendb
Lab №1/.vs/Lab №1/v17/Browse.VC.db-wal
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/Browse.VC.db
*.vsidx
*.vsidx
Lab №1/.vs/Lab №1/FileContentIndex/913405c1-844e-4947-bd6d-2c3b3a5346da.vsidx
Lab №1/.vs/Lab №1/FileContentIndex/c0bc7a9a-dc4e-465e-a163-20f61e764831.vsidx
Lab №1/.vs/Lab №1/FileContentIndex/da12b8dd-1935-446d-9fe0-923f02fa817c.vsidx
Lab №1/.vs/Lab №1/v17/.suo
*.db
Lab №1/Lab №1/x64/Debug/vc143.idb
Lab №1/Lab №1/x64/Debug/vc143.pdb
Lab №1/x64/Debug/Lab №1.pdb
Lab №1/Lab №1/x64/Debug/Lab №1.ilk
*.tlog
*.db
*.pdb
Lab №1/Lab №1/x64/Debug/Lab №1.log
Lab №1/.vs/Lab №1/v17/Browse.VC.db
Lab №1/.vs/Lab №1/v17/.suo
Lab №1/.vs/Lab №1/v17/ipch/AutoPCH/b4f001ff64119143/TAPPLICATION.ipch
Lab №1/Lab №1/x64/Debug/Lab №1.exe.recipe
Lab №1/Lab №1/x64/Debug/main.obj
Lab №1/Lab №1/x64/Debug/TApplication.obj
Lab №1/Lab №1/x64/Debug/vcpkg.applocal.log
*.ipch
*.opendb
*.db-wal
*.db-shm
Lab №2/.vs/Lab №2/v17/.suo
*.obj
*.recipe
*.ilk
*.log
Lab №2/x64/Debug/Lab №2.vcxproj.FileListAbsolute.txt
Lab №2/x64/Debug/tapplication.obj.enc
Lab №2/x64/Debug/vc143.idb
*.exe
